
              body {
  background-color: gray;
  margin: 0;
}

.name {
  display: inline;
  color: white;
}


.portrait {
  border-width: 6px;
  border-style: solid;
  border-color: blue;
  border-radius: 16px;
}

nav {
  background-color: lightgray;
  font-family: sans-serif;
  text-align: center;
  padding: 14px;
}

nav a {
  color: orangered;
  text-decoration: none;
  margin: 6px;
}

          